@import url("style-guide.css");



/* SECTIONS */
body {
    background-color: var(--color-stone-100);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
    font-family: var(--font-family);
}

section {
    background-color: var(--color-stone-100);
    width: 100dvw;
    display: flex;
    flex-direction: column;
    
}

.grocery-form {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-items: center;
    width: 100%;
    padding: 32px 24px 8px 24px;
}

.grocery-form h1 {
    display: flex;
    margin: 0;
    justify-content: center;
    height: 100%;
    font-size: var(--h1-size); 
    font-weight: var(--h1-weight);            
    line-height: 1.2;
    color: var(--color-stone-800);
}

.form-control {
    display: flex;
    flex-direction: column;
    gap: 16px;

}

.grocery-container { 
    transition: var(--transition);
    visibility: hidden;
    display: flex;
    flex-direction: column;
    padding: 24px 24px 160px 24px;
    gap: 8px;
    overflow: scroll;

}

.empty-state {
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: center;
    height: 80dvh;
}

.empty-state p{
    font-size: 40px;
    margin: 0;
    text-align: center;
    letter-spacing: 10px;

}

.empty-state h2{
    font-size: var(--h3-size);
    font-weight: var(--h3-weight);
    margin: 0;
    text-align: center;
    color: var(--color-stone-400);

}



.grocery-list {
    display: flex;
    flex-direction: column;
    gap: 4px;
    
}

.grocery-item {
    background-color: var(--color-stone-50);
    display: flex;
    flex: 1;
    flex-direction: row;
    gap: 16px;
    padding: 16px;
    border-radius: 20px;
    border: solid 2px var(--color-stone-200);
    
}

.grocery-item.is-done .item-name {
    opacity: 0.5;
  }
  

.item-main {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 16px;
    margin: 0;
    flex: 1;
}




.grocery-item p {
    flex: 1 ;
    font-size: var(--h3-size);
    color: var(--color-stone-700);
    line-height: 100%;
    margin: 0;
    display: flex;           
    align-items: center;
}

.show-container {
    visibility: visible;
}

/* MODALS */
.modal {
    display: none; 
    position: fixed;
    top: 0; left: 0;
    width: 100%; 
    height: 100%;
    background: rgba(0,0,0,0.5);
    justify-content: center; align-items: center;
    
  }

  .modal-content {
    position: relative;
    bottom: 24px;
    display: flex;
    flex-direction: column;
    background: var(--color-stone-50);
    padding: 24px;
    gap: 16px;
    border-radius: 24px;
    min-width: 300px;
  }

  .modal-header{
    display: flex;
    flex-direction: row;
  }

  .modal-header h2 {
    flex: 1;
    height: 100%;
    font-size: var(--h2-size);     
    font-weight: var(--h2-weight);           
    line-height: 1.2;
    margin: 0;
  }

  .close {
    float: right;
    font-size: 24px;
    cursor: pointer;
  }

/* BUTTONS */
.clear-btn {
    background-color: var(--color-stone-100);
    border: none;
    border-radius: 100px;
    height: 50px;
    color: var(--color-yellow-800);
    font-size: var(--body-size-large);
}

.edit-btn {
    height: 40px;
    width: 40px;
    border-radius: 100px;
    border: none;
    background-color: var(--color-stone-50);
    display: flex;
    align-items: center;
    justify-content: center;
}

#submit-add {
    background-color: var(--color-orange-600);
    border: none;
    border-radius: 100px;
    height: 50px;
    color: var(--color-stone-50);
    font-size: var(--body-size-large);
}

#submit-edit {
    background-color: var(--color-cyan-600);
    border: none;
    border-radius: 100px;
    height: 50px;
    color: var(--color-stone-50);
    font-size: var(--body-size-large);
}


.fab-button {
    position: fixed;
    bottom: 24px;   
    right: 24px; 
    height: 80px;
    width: 80px;
    border: none;
    border-radius: 1000px;
    background-color: var(--color-emerald-600);
    color: var(--color-stone-50)
}

.close{
    width: 30px;
    height: 30px;
    background-color: var(--color-stone-200);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-stone-800);
    border-radius: 100px;
}

.delete-btn{
    width: 30px;
    height: 30px;
    background-color: var(--color-stone-200);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-stone-800);
    border-radius: 100px;

}




/* INPUTS */

input[type="text"] {
    display: block; 
    max-width: 100%;     
    max-height: 50px; 
    min-height: 50px; 
    box-sizing: border-box; 
    background-color: var(--color-stone-200);      
    color: var(--color-stone-400);
    padding: 0 16px;       
    font-size: 1rem;           
    border: 0;  
    border-radius: 20px;      
    outline: none;    

}

#grocery-add:focus {
    color: var(--color-stone-700);
    border: solid 2px var(--color-orange-400);
    height: 50px; 
}

#grocery-edit:focus {
    color: var(--color-stone-700);
    border: solid 2px var(--color-cyan-400);
    height: 50px; 
}


/* ICONS */

.fab-button svg {
    fill: var(--color-stone-50);
}

.edit-btn svg {
    fill: var(--color-stone-500);
}

.daleta-btn svg {
    fill: var(--color-stone-500);
}


 

  







